@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Roboto", sans-serif;
}

.reactive-btn-wrapper,
.reactive-btn {
  --reactive-button-primary-color: #ed502e !important;
  --reactive-progress-outline-primary-color: #ed502e !important;
}
